{% load bootstrap4 %}
Copy/paste the following sample KeySAVe dump output into the form:
<div class="card-body">
<small>
    B01 - 1,1 - Charmander (♂) - Jolly - Solar Power - 8.31.31.31.31.31 - Dragon - [2561]<br>
    B01 - 1,2 - Charmander (♂) - Jolly - Blaze - 31.31.31.1.31.31 - Dark - [1261]<br>
    B01 - 1,3 - Charmander (♀) - Jolly - Solar Power - 31.31.31.31.31.7 - Dark - [0442]<br>
    B01 - 1,4 - Charmander (♂) - Jolly - Solar Power - 31.31.31.31.31.31 - Dark - [3342]<br>
    B01 - 1,5 - Charmander (♀) - Jolly - Solar Power - 31.31.31.31.31.16 - Ice - [0142]<br>
    B01 - 1,6 - Charmander (♂) - Jolly - Blaze - 31.31.31.31.29.31 - Dark - [2685]<br>
    B01 - 2,1 - Charmander (♂) - Jolly - Solar Power - 27.31.31.31.31.31 - Dark - [0997]<br>
    B01 - 2,2 - Charmander (♂) - Jolly - Blaze - 31.31.31.31.31.12 - Ice - [4058]<br>
    B01 - 2,3 - Charmander (♂) - Timid - Solar Power - 31.31.31.31.31.22 - Ice - [0996]<br>
    B01 - 2,4 - Charmander (♂) - Timid - Blaze - 31.31.31.31.31.5 - Dark - [3204]<br>
    B01 - 2,5 - Charmander (♀) - Timid - Solar Power - 31.21.31.31.31.31 - Dark - [2752]<br>
    B01 - 2,6 - Charmander (♂) - Timid - Solar Power - 31.31.23.31.31.31 - Dark - [1481]<br>
    B01 - 3,1 - Charmander (♂) - Timid - Blaze - 31.8.31.31.31.31 - Dragon - [1402]<br>
    B01 - 3,2 - Charmander (♀) - Timid - Solar Power - 31.31.31.31.5.31 - Dark - [3801]<br>
    B01 - 3,3 - Charmander (♀) - Timid - Blaze - 31.31.31.5.31.31 - Dark - [3522]
</small>
</div>
